alembic
atomicwrites
attrs
click
colorama
Flask
Flask-Cors
flask-jsonschema-validator
Flask-Migrate
Flask-SQLAlchemy
itsdangerous
Jinja2
jsonschema
Mako
MarkupSafe
more-itertools
packaging
pluggy
py
pyparsing
pyrsistent
pytest
python-dateutil
python-editor
six
SQLAlchemy
wcwidth
cloudinary
requests
Werkzeug==0.16.1
flask_restful
